.abc1{
    text-align:Center;
    border-style:solid;
    border-color:ForestGreen;
    border-width:4px;
}
.abc2{
    text-align:Center;
    border-style:solid;
    border-color:ForestGreen;
    border-width:4px;
}